/* Tablet Portrait */
@media only screen and (max-width: 989px), screen and (max-width: 1136px) and (device-aspect-ratio: 40/71) {

.wrap { width: 480px; }

#logo { 
  display: block;
  /* background: url("../images/logo-mobile.jpg") no-repeat scroll center 7px transparent; */
  float: left;
  padding: 50px 155px;
}

#top-right { padding: 37px 0 0; }

#mobile-nav-button { 
  background: url("../images/mobile-nav-sprite.png") no-repeat scroll center top transparent;
  padding: 15px 15px;
}

#top-nav,
#lower-block #lower-block-divider,
#navigation { display:none;}

#upper-block #profile {  
  padding: 25px 25px 0;
  width: auto;
}

#upper-block #form-buttons { width: 100%; }

#form-buttons .request-quote-block .request-quote-block-form input#request_block_submit { margin-right: 66px; }
#form-buttons .risk-profile-block .risk-profile-block-form input#risk_block_submit { margin-right: 74px; }

#middle-block,
#lower-block,
#lower-block #lower-block-right { clear: both; }

#middle-block .middle-block-left,
#middle-block .middle-block-right,
#lower-block #lower-block-left,
#lower-block #lower-block-right { width: auto; }

#lower-block #lower-block-left .tool-header img { padding: 0 15px 0 10px; }
#lower-block #lower-block-right .testimonial-header img { padding: 0 15px 0 15px; }
#lower-block #lower-block-right .testimonial-header { margin-top: 25px; }

#lower-block-left .tool-carousel .center a#prev { left: 30px; }
#lower-block-left .tool-carousel .center a#next { right: -30px; }
#lower-block-right .testimonial-carousel .center a#prev2 { left: 30px; }
#lower-block-right .testimonial-carousel .center a#next2 { right: -30px; }

#lower-block #lower-block-right { float: left; }
#lower-block-right .pics,
#lower-block-left .pics { margin: 0 0 0 70px; }

#footer { padding: 0 0 15px 25px; }

#footer #footer-menu { margin-left: -17px; }
#footer #copyright-menu { margin-left: -17px; }

#footer #powered-by { 
  float: left;
  margin: 0; }
