/* CSS for Drupal 7 Starter Kit */

* { margin: 0; padding: 0; border: 0; }

body {
  text-align: center;
  font: 62.5% Arial, Helvetica, sans-serif;
  background: url('../images/background_bg.jpg') repeat-x center top #a6a6a6;  }
}

body.cke_show_borders { /* WYSIWYG */
  background: #FFFFFF;
  color: #454545;
  font: 80% Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  padding: 10px;
  text-align: left;
}


/* Global Styles */

a, a:link { color: #3f8aca; text-decoration: none; }
a:hover { color: #2a6aa1; text-decoration: none; }

a.doc { background: url('../images/icons/doc.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.txt { background: url('../images/icons/txt.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.xls { background: url('../images/icons/xls.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.rss { background: url('../images/icons/feed.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.pps { background: url('../images/icons/pps.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.pdf { background: url('../images/icons/pdf.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.zip { background: url('../images/icons/archive.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.swf { background: url('../images/icons/swf.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.image { background: url('../images/icons/pic.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.video { background: url('../images/icons/film.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.audio { background: url('../images/icons/audio.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }
a.email { background: url('../images/icons/mailto.gif') 0px 3px no-repeat; padding: 5px 0 5px 20px; }

h1 {
  margin: 0 0 10px 0;
  font-size: 2.4em;
  font-family: Impact, "nimbus-sans-condensed", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  border-bottom: 7px solid #EEEEEE;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

h1.home {
  padding-left: 10px;
  font-size: 3.0em;
}


h2 {
  margin: 0 0 10px 0;
	color: #666;
	font-size: 2.0em;
  font-family: Impact, "nimbus-sans-condensed", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

h3 {
  margin: 0 0 5px 0;
	color: #797979;
	font-size: 1.5em;
  font-family: Impact, "nimbus-sans-condensed", arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

h3 a, h3 a:hover  {
	color: #797979;
}

h4 {
color: #1b4986;
font-size: 1.8em;
font-family: arial, helvetica, sans-serif;
font-weight: normal;
border-bottom: 1px solid #EEEEEE;
margin-bottom: 5px;
padding-bottom: 5px;
}

.white {
color: #ffffff;
}

.light_blue {
color: #7698c6;
}

h2 .first, h1 .first {
color: #1b4986;
}

h2 .second, h1 .second {
color: #797979;
}

table { border-collapse: collapse; border-spacing: 0; }
table th { vertical-align: bottom; text-align: left; padding: 5px; font-weight: bold; }
table td { vertical-align: top; padding: 5px; }

object, embed { border: 0; outline: 0; }

fieldset { border: 1px solid #DADADB; padding: 10px; }
legend { font-weight: bold; color: #666666; }
input, select, option, textarea { padding: 2px; border: 1px solid #DADADB; padding: 2px; }
option { padding: 2px 6px; border: 0; }

#content ul, #content  ol { margin: 0 0 15px 30px; }
li { margin: 0 0 5px 0; }

p { margin: 0; padding: 0 0 15px 0; color: #646464; }

#content p { font-size: 1.2em;  }

hr { height: 1px; margin: 0 0 15px 0; border: 0; border-bottom: 1px solid #000000; }

.l, .left { float: left; }
.r, .right { float: right; }
.clear { clear: both; }
.clear-l, .clear-l { clear: left; }
.clear-r, .clear-r { clear: right; }

.serif { font-family: Palatino Linotype, Palatino, Georgia, TimesBook Antiqua, serif; }
.no-serif, .san-serif { font-family: Arial, Helvetica, sans-serif; }

img { border: 0; }
img.l, img.left { margin: 0 10px 10px 0; }
img.r, img.right { margin: 0 0 10px 10px; }


/* Site Colors */

.black { color: #000000; }
.gray { color: #666666; }
.white { color: #FFFFFF; }
.green { color: #008302; }
.red { color: #ED1C24; }


#main-inner {  padding: 10px; background-color: #ffffff; margin-top: 10px; margin-bottom: 5px; border: 1px solid #d8d8d8; -moz-box-shadow: 1px 1px 8px 0px #8a8989; -webkit-box-shadow: 1px 1px 8px 0px #8a8989; box-shadow: 1px 1px 8px 0px #8a8989; min-height:700px; width: 945px; margin-left: 5px; }

#content {
padding-right: 10px;
width: 605px;
float: left;
}


/* Top Nav */

#top-right { 
  float: right; 
  padding: 30px 0 0 0; 
  font-size: 1.1em;
}

#top-right .block-menu { 
  float: right; 
  margin: 0 0 10px 0; 
} 

#top-right ul.menu { 
	float: left;
	margin: 4px 15px 0 0;
	padding: 0;
}
#top-right ul.menu li {
	float: left;
	margin: 0 5px 0 0;
	padding: 0 5px 0 0;
  list-style: none;
	line-height: 1;
  list-style-image: none;
  border-right: 1px solid #454545;
}
#top-right ul.menu li.last { margin-right: 0; padding-right: 0; border: 0; }
#top-right ul.menu li .separator { margin: 0 5px; }
#top-right ul.menu li a { color: #3f8aca; text-decoration: none; }
#top-right ul.menu li a:hover { text-decoration: underline; }
#top-right ul.menu li a.active { color: #3f8aca; }
#top-right ul.menu ul { display: none; }

#top-right .block-search { float: right; }
#top-right .block-search .form-text { 
  width: 150px; 
  border: 1px solid #CCCCCC; 
  color: #999999; 
}
#top-right .block-search .form-submit { 
  width: auto; 
  padding: 1px 5px;
  border: 1px solid #AFAFAF; 
  color: #454545; 
  font-weight: bold;
  background: #CCCCCC;
}


/* Footer */

#footer { 
  padding-bottom: 15px;
  padding-top: 5px;
  color: #ffffff; 
  font-weight: bold;
}

#footer .copyright { float: right; margin-right: 30px; }

#footer .copyright p { color: #ffffff; }

#footer .block-menu { float: left; }
#footer ul { 
	float: left;
	margin: 0;
	padding-left: 10px;
}
#footer ul li {
	float: left;
	margin: 0 5px 0 0;
	padding: 0 5px 0 0;
  list-style: none;
	line-height: 1;
  list-style-image: none;
  border-right: 1px solid #ffffff;
}
#footer ul li.last { margin-right: 0; padding-right: 0; border: 0; }

#footer ul li a { color: #ffffff; text-decoration: none; }
#footer ul li a:hover { text-decoration: underline; }
#footer ul ul { display: none; }

#footer a.bwm { color: #ffffff; text-decoration: none; }
#footer a.bwm:hover { color: #ffffff; text-decoration: underline; }


/* Sidebars */

#right {
  float: right;
  width: 310px;
  padding-left: 15px;
}

#top_home_block {
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #143560;
background: url('../images/am_mil_eng_logo.png') no-repeat 180px center transparent;
}

#second_home_block {
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
border-top: 1px solid #4970a4;
min-height: 150px;
}

#block_container_home {    
background: url('../images/right_block_bg.jpg') repeat-x bottom center #3a6aab;
color: #ffffff;
margin-bottom: 20px;
}

#block_container_home p {    
line-height: 1.4em;
font-size: 1.2em;
color: #ffffff;
}

#block_container_home p a {  
color: #ffffff;
}

#second_home_block p {
font-weight: bold;
}

#second_home_block .staff img {
border: 4px solid #ffffff;
}

#second_home_block .staff  {
float: left;
margin-right: 10px;
}

#second_home_block a.message {
    background: url("../images/blue_button_bg.jpg") repeat-x scroll center top #7A9BC8;
    color: #1B4986;
    display: block;
    float: left;
    font-family: Impact,"nimbus-sans-condensed",arial,sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    height: 20px;
    letter-spacing: 0;
    margin-left: -11px;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 7px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 50;
}

#second_home_block img.pres {
    float: left;
    position: relative;
    z-index: 56;
}

#second_home_block a.message:hover {
background: url('../images/blue_button_bg_hover.jpg') repeat-x scroll center top #7a9bc8;
text-decoration: none;
}

#meetings_block {
clear: both;
margin-bottom: 15px;
float:left;
width: 100%;
}

#meetings_block .meeting_field_item {
clear: both;
margin-left: 10px;
padding-bottom: 10px;
padding-top: 10px;
float: left;
}

#meetings_block h2 {
padding-bottom: 5px;
margin-bottom: 5px;
border-bottom: 7px solid #eeeeee;
padding-left: 10px;
}

#meetings_block .title a {
color: #7698c6;
font-weight: bold;
}

#meetings_block .title a:hover {
color: #2A6AA1;
}

#meetings_block .meeting_content {
font-size: 1.2em;
padding-left: 15px;
width: 215px;
float: left;
border-left: 1px dotted #878787;
}

#meetings_block .meeting_content p {
padding-bottom: 3px;
}

#meetings_block .dates {
color: #d61f47;
padding-left: 5px;
padding-right: 5px;
float: left;
height: 50px;
}

#meetings_block .dates .date_1 {
text-transform: uppercase;
width: 40px;
text-align: center;
letter-spacing: 1px;
font-size: 1.2em;
}

#meetings_block .dates .date_2 {
text-transform: none;
width: 40px;
text-align: center;
font-weight: bold;
font-size: 1.8em;
position: relative; 
top: -3px;
}

.right_side_box {
background-color: #E1E7EF;
height: 45px;
padding: 10px 15px 10px;
width: 280px;
margin-bottom:20px;
float: left;
}

.right_side_box p {
color: #1B4986;
float: left;
font-family: Impact,arial,sans-seif;
font-size: 1.6em;
font-weight: normal;
padding-top: 10px;
text-transform: uppercase;
width: 160px;
}

.right_side_box .logo_same {
float: right;
}

.blog_entry h3 {
color: #1B4986;
font-family: arial,sans-serif;
font-size: 1.2em;
font-weight: normal;
letter-spacing: 0px;
margin: 0 0 0px;
text-transform: none;
}

.blog_entry h3 a {
color: #1B4986;
}

.blog_entry h3 a:hover {
color: #7698C6;
}

/* Home Slideshow */

#slideshow {
  position: relative;
  margin: 0 0 15px 0;
  width: 605px;
  height: 310px;
  overflow: hidden;
  border: 1px solid #a3a3a3;
}
#slideshow #text-box {
  position: absolute; 
  z-index: 1000; /* to fix issues with customers having more then 50 slides */
  width: 578px;
  height: auto;
  bottom: 0px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFFF;
  font-size: 1.2em;
  background: url('../images/hero_text_bg.png') repeat scroll center center transparent;
}

#slideshow #text-box-inner {
  width: 350px;
}

#slideshow p {
  margin: 0 0 5px 0;
  padding: 0;
  color: #FFFFFF;
}

#slideshow p a {
color: #ffffff;
}

#slideshow p a:hover {
color: #eeeeee;
}

.slideshow-controls-bottom {
  position: absolute;
  z-index: 1001; /* to fix issues with customers having more then 50 slides */
  right: 5px;
  bottom: 0px;
  width: 95px;
}

.slideshow-controls-bottom-button {
}


.slideshow-controls-bottom .left-btn a {
background: url('../images/hero_arrow_prev.png') no-repeat center center #dc264e;
    height: 35px;
    margin-left: 10px;
    padding-top: 7px;
    text-align: center;
    width: 38px;
    display: block;
    float: left;
}

.slideshow-controls-bottom .right-btn a {
background: url('../images/hero_arrow_next.png') no-repeat center center #dc264e;
    height: 35px;
    margin-left: 3px;
    padding-top: 7px;
    text-align: center;
    width: 38px;
    display: block;
    float: left;
}

.slideshow-controls-bottom .left-btn a:hover { background: url('../images/hero_arrow_prev.png') no-repeat center center #a91132;  }
.slideshow-controls-bottom .right-btn a:hover { background: url('../images/hero_arrow_next.png') no-repeat center center #a91132;  }


#call_out_arrow_area {
    background: url("../images/middle_section_bg.jpg") no-repeat scroll left top transparent;
    height: 95px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 10px;
    width: 605px;
}

.messages, .error, .warning, .notice {
    background-color: #FCFDD6;
    border: 1px solid #DDDFAB;
    color: #666666;
    margin-bottom: 2px;
    padding: 5px 15px;
    text-align: center;
}


/* Right Side */

#join_box {
background-color: #1b4986;
padding: 10px;
float: left;
height: 45px;
margin-bottom: 20px;
width: 290px;
}

#join_box .left {
width: 115px;
float: left;
text-transform: uppercase;
}


#join_box .right {
background: url("../images/white-arrow.png") no-repeat scroll right center transparent;
float: left;
padding-right: 29px;
padding-top: 10px;
width: 145px;
margin-top: 3px;
}


#connect {
color: #1B4986;
float: left;
font-family: Impact,"nimbus-sans-condensed",arial,sans-serif;
font-size: 1.4em;
font-weight: normal;
margin-bottom: -10px;
padding-top: 0;
text-transform: uppercase;
width: 270px;
}

#connect_int {
color: #1b4986;
font-size: 1.4em;
font-family: Impact, "nimbus-sans-condensed", arial, sans-serif;
text-transform: uppercase;
font-weight: normal;
padding-top: 0px;
width: 270px;
float: left;
margin-bottom: -10px;
}

#connect img, #connect_int img {
    position: relative;
    top: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

#connect a.first, #connect_int a.first {
margin-left: 10px;
}

.blog-post-details {
    color: #1B4986;
    font-size: 1.1em;
}

.blog-post-details p {
    color: #1B4986;
    padding-bottom: 0px;
}

#newsletter {
color: #1b4986;
font-size: 1.4em;
font-family: Impact, "nimbus-sans-condensed", arial, sans-serif;
text-transform: uppercase;
font-weight: normal;
margin-top: 35px;
width: 400px;
float: left;
}

#newsletter_int {
    color: #1B4986;
    float: left;
    font-family: Impact,arial,sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
    width: 285px;
}

#newsletter form {
    float: right;
    width: 328px;
}

#newsletter #email_address {
float: left;
}

#newsletter #submit {
    background-color: #D61F47;
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

#newsletter_int form {
float: right;
width: 210px;
}

#newsletter_int form #submit {
    background-color: #D61F47;
    border: medium none;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 8px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

form .button {
font-size: 1.2em;
background-color: #D61F47;
border: medium none;
border-radius: 10px 10px 10px 10px;
color: #FFFFFF;
cursor: pointer;
float: left;
font-weight: bold;
margin-right: 8px;
margin-top: 15px;
padding-left: 10px;
padding-right: 10px;
}

#call_out_arrow_area #join_title {
    float: right;
    position: relative;
    right: 20px;
    top: -20px;
    width: 130px;
}

.large {
font-size: 3.4em;
font-family: Impact, "nimbus-sans-condensed", times, serif;
}

.medium {
    color: #FFFFFF;
    font-size: 1.5em;
    line-height: 1em;
    position: relative;
    top: -5px;
    font-weight: bold;
}

.small {
font-size: 1.4em;
line-height: 1.4em;
color: #ffffff;
position: relative;
top: -8px;
}

#email_address {
border: 1px solid #adadad;
margin-left: 5px;
margin-right: 10px;
width: 200px;
}  

#submit:hover, #newsletter #submit:hover, #newsletter_int #submit:hover, form .button:hover {
    background-color: #A91132;
}

form.new_comment label {
width: 200px;
text-align: left;
display: block;
}

.page_intro {
color: #396aab;
font-family: arial, helvetica, sans-serif;
font-size: 1.4em;
line-height: 1.8em;
margin: 20px 30px;
}

#first_story {
border-bottom: 1px solid #EEEEEE;
clear: both;
margin-bottom: 5px;
margin-left: 10px;
margin-top: 10px;
padding-bottom: 15px;
}

.story {
border-bottom: 1px solid #EEEEEE;
clear: both;
float: left;
margin-left: 10px;
padding-bottom: 15px;
padding-top: 15px;
}

.story.last {
border-bottom: none;
}

.first_story_content {
color: #646464;
font-size: 1.2em;
}

.story_image {
margin-right: 20px;
float: left;
}

.story_content {
color: #1b4986;
}

.story_date {
font-size: 1.2em;
color: #1b4986;
}

.story_date2 {
background: url("../images/arrow_bullet.png") no-repeat scroll left center transparent;
color: #1B4986;
font-size: 1.4em;
margin-bottom: 15px;
margin-left: 10px;
margin-top: 0;
padding-bottom: 0;
padding-left: 20px;
padding-top: 0;
width: 150px;
float: left;
}

.story_title {   
color: #1b4986;
font-size: 1.8em;
margin-bottom: 15px;
}

.story_title a {  
color: #1B4986;
}

.story_title a:hover {
color: #7698C6;
}

.blog-post-details {
    color: #1B4986;
    font-size: 1.1em;
}

.uppercase {
text-transform: uppercase;
}

.story_intro {
border-left: 1px dotted #646464;
color: #1B4986;
float: left;
font-size: 1.2em;
padding-bottom: 10px;
padding-left: 20px;
width: 390px;
}

.story_read_more {
    color: #7698C6;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding-top: 5px;
    display: block;
}

.story_read_more a:hover {
    text-decoration: underline;
    color: #7698C6;
}

.post-row .staff img {
border: 3px solid #FFFFFF;
-moz-box-shadow: 3px 3px 4px #ccc;
-webkit-box-shadow: 3px 3px 4px #ccc;
box-shadow: 3px 3px 4px #ccc;
float: left;
}
.post-row .title {
font-weight: bold;
font-size: 1.2em;
color: #1b4986;
}

.post-row {
border-bottom: 1px solid #EEEEEE;
float: left;
margin-bottom: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-top: 20px;
width: 590px;
}

.post-row.last {
border-bottom: none;
}

.staff {
margin-right: 25px;
}

.staff-left {
width: 250px;
margin-right: 30px;
float: left;
margin-left: 25px;
margin-top: 5px;
}

.staff-right {
width: 100px;
float: left;
margin-top: 5px;
}



/* Overall Layout */

#top-header { padding: 15px 0; }

#content-area {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #454545;
}
#content-inner { margin-bottom: 15px; }


/* Search Page */

.search-results .search-snippet-info { padding: 0; }


/* Calendar */

.view .date-nav-wrapper .date-prev { margin: 0; left: 0; right: auto; }


.wrap {
    margin: 0 auto;
    text-align: center;
    width: 990px;
}

.text-reset {
    text-align: left;
}

#header { background-image:url('../images/header_bg.jpg'); height: 95px; }

#header #logo-img  {
margin-top: 20px;
margin-left: 10px;
float: left;
}

#header #subtitle {
color: #C2C2C2;
float: left;
font-family: arial,verdana,sans-serif;
line-height: 28px;
padding-left: 10px;
padding-top: 18px;
width: 650px;
}

#header #subtitle .top {
font-family: georgia, times, serif;
font-weight: bold;
font-size: 25px;
}

#header #subtitle .bottom {
font-family: georgia, times, serif;
font-weight: bold;
font-size: 16px;
}


/* Navigation */

/*  Top Level    */
#nav { background-image:url('../images/nav_bg.jpg'); border-bottom: 1px solid #E37590; height: 33px; }
#right_nav {     
    background: url("../images/nav_bg_right.jpg") repeat-x scroll 0 0 transparent;
    float: right;
    height: 33px;
    position: absolute;
    right: 0;
    top: 95px;
    width: 34%;
    z-index: 90;
}
.main_nav {
position: relative; z-index: 100; margin-top: 0px; margin-left: 5px;
}

#nav ul {  padding: 0; line-height: 1; list-style: none; }
#nav ul li { float: left; margin: 0; padding: 0; width: auto; font-size: 1.4em; border-right: 1px solid #e07f96; }
#nav ul li a {     
    display: block;
    height: 34px;
    margin: 0;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    width: auto;
    color: #f9f9fa;
    text-transform: uppercase;
    background:url('../images/nav_bg.jpg') repeat-x;
}

#nav ul li.external a {
background:url('../images/nav_bg_right.jpg') repeat-x;
}

#nav ul li.external a span {
background:url('../images/white_arrow_sm.png') no-repeat right center transparent;
}

#nav ul li.external a:hover {
background-color: #79001c;
}


#nav ul li a:hover, #nav ul li.sfhover a { 
background-color: #8c0d2a;
background-image: none;
}

#nav ul li.first {       
border-left: 1px solid #e07f96;
}

#nav ul li a span{ display: block; padding: 10px 19px; }

/*  Secondary    */
#nav ul li ul {  position: absolute; background-color: #d6204d; width: 200px; margin: 0; padding: 0; left: -999em;  z-index: 999; }
#nav ul li ul li { float: left; margin: 0; padding: 0; width: 200px;  font-size: 1em; border: none; }
#nav ul li ul li a { display: block; 	margin: 0; padding: 0; width: 200px; height: auto; text-transform: none; }
#nav ul li ul li a span { display: block; padding: 15px 15px; }
#nav ul li.active ul li a, 
#nav ul li.active ul li a:hover, 
#nav ul li.sfhover ul li a  { background: #9d0f32; }
#nav ul li ul li a:hover { background: #8c0d2a; color: #fffefe; }

/*   Tertiary   */
#nav ul li ul li ul {  position: absolute; background-color: #d6204d;  width: 200px; margin: -24px 0 0 200px; padding: 0; left: -999em;  z-index: 999; }
#nav ul li ul li ul li { float: left; margin: 0; padding: 0; width: 200px;  font-size: 1em; }
#nav ul li ul li ul a { display: block; margin: 0; padding: 0; width: 200px; }

		 /* Nav No Need to Touch  */
#nav li:hover { position: static; background-position: 0 0; }
#nav li:hover ul ul, 
#nav li:hover ul ul ul, 
#nav li.sfhover ul ul, 
#nav li.sfhover ul ul ul { left: -999em; }
#nav li:hover ul, 
#nav li li:hover ul, 
#nav li li li:hover ul, 
#nav li.sfhover ul, #nav li li.sfhover ul, 
#nav li li li.sfhover ul { left: auto; }

/* Top Nav */
#top-nav { float: right; height: 34px; padding: 0px; color: #b8b8b8; font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
#top-nav ul { float: left; margin: 0; padding: 0; line-height: 1; list-style: none; position: relative; top: 50px; right: 20px; }
#top-nav ul li { float: left; 	margin: 13px -4px 0 7px; }
#top-nav ul li.first { float: left; 	margin: 13px -4px 0 15px; padding: 0 7px 0 20px; background:url('../images/home.png') no-repeat left center transparent; }
#top-nav ul li.last { border-right: 0; padding: 0 7px 0 20px; background:url('../images/contact_us.png') no-repeat left center transparent; }
#top-nav ul li a { text-decoration: none; color: #b8b8b8; }
#top-nav ul li a:hover { color: #c8c8c8; }
#top-nav ul ul { display: none; }
