body {
  background-color: lightgray;
}

.logo, .menu, .sidebar, .content {
  float: left;
}

.menu {margin-top: 10px;}
.menu a {
  margin-left: 15px;
}

.maincontent {
  clear: left;
}

.sidebar {
  width: 30%;
  padding: 5px;
}
.content {
  width: 65%;
/*  margin-left: 10%;*/
  padding: 5px;
}
