<div class="about-directory-block">
  <div class="top">About the SAME Directory</div>
  <div class="bottom"><a href="{% page_url Advertise with SAME %}">Advertise with SAME</a></div>
  <div class="social-media">
    {% yield_content Corporate Social Media %}
  </div>	
</div>

<div class="featured-company-ad-block">
  <div class="featured-company-title"><span>FEATURED</span> COMPANIES</div>
  <div class="featured-company-ads">
    <!-- todo: programmatically calculate this -->
    <a href=""><img src="../images/company-ad-holder.jpg" alt="Company Ad Placeholder"></a><br/>
    <a href=""><img src="../images/company-ad-holder.jpg" alt="Company Ad Placeholder"></a><br/>
    <a href=""><img src="../images/company-ad-holder.jpg" alt="Company Ad Placeholder"></a><br/>
    <a href=""><img src="../images/company-ad-holder.jpg" alt="Company Ad Placeholder"></a>
  </div>
</div>
<div class="section"></div>