<!-- todo: programmatically calculate this -->
<div class="section featured">

  <div class="standard-with-logo-tier tier">
    <span><img alt="4Granite-logo" src="../assets/4granite-tier-logo.jpg"></span>
    <h2><a href="/directory_companies/601">4Granite Inc.</a></h2>
    <div class="standard-link"><a href="www.4graniteinc.com">www.4graniteinc.com</a></div>
    <div class="standard-with-logo-tier-address">P.O. Box 1564<br>Apple Valley, CA 92307</div>
    <div class="section"></div>
  </div>
  
  <div class="standard-with-logo-tier tier">
    <span><img alt="Aarcher-logo" src="../assets/aarcher-tier-logo.jpg"></span>
    <h2><a href="/directory_companies/613">Advanced Engineering Consultants</a></h2>
    <div class="standard-link"><a href="www.aecmep.com">www.aecmep.com</a></div>
    <div class="standard-with-logo-tier-address">1310 Dublin Road<br>Columbus, OH 43215</div>
    <div class="section"></div>
  </div>

  <div class="standard-with-logo-tier tier">
    <span><img alt="4Clicks-logo" src="../assets/4clicks-tier-logo.jpg"></span>
    <h2><a href="/directory_companies/600">4Clicks Solutions</a></h2>
    <div class="standard-link"><a href="www.4Clicks.com">www.4Clicks.com</a></div>
    <div class="standard-with-logo-tier-address">P.O. Box 76884<br>Colorado Springs, CO 80970</div>
    <div class="section"></div>
  </div>
  
  <div class="standard-with-logo-tier tier">
    <span><img alt="4Granite-logo" src="../assets/4granite-tier-logo.jpg"></span>
    <h2><a href="/directory_companies/604">A.D. Marble &amp; Company</a></h2>
    <div class="standard-link"><a href="www.admarble.com">www.admarble.com</a></div>
    <div class="standard-with-logo-tier-address">375 E. Elm Street<br>Conshohocken, PA 19428</div>
    <div class="section"></div>
  </div>
  
  
</div>