<div id="nav">
    <div class="wrap">
      <div class="text-reset">
        <ul class="main_nav">
          <li class="first"><a href=""><span>ABOUT SAME</span></a></li>
          <li><a href=""><span>EVENTS</span></a></li>
          <li><a href=""><span>MEMBERSHIP</span></a></li>
          <li><a href=""><span>PUBLICATIONS</span></a></li>
          <li><a href=""><span>COMMITTEES & COUNCILS</span></a></li>
          <li class="last"><a href="" ><span>SAME OPERATION</span></a></li>
        </ul>
        <div class="section"></div>
  
      </div>
    </div>
    
 </div>