<div id="footer">
<div class="wrap">
<div class="text-reset">

<div class="copyright">
<p>© Copyright 2013, All Rights Reserved | <a class="bwm" target="_blank" href="http://www.bluewatermedia.com">Web Design</a> by <a class="bwm" target="_blank" href="http://www.bluewatermedia.com">Blue Water Media</a></p>
</div>

<div class="footer-links"> 
<ul>
<li class="first"><a href="/root"><span>Home</span></a></li>
<li><a href=""><span>About SAME</span></a></li>
<li><a href=""><span>Events</span></a></li>
<li><a href=""><span>Membership</span></a></li>
<li><a href=""><span>Publications</span></a></li>
<li><a href=""><span>Committees & Councils</span></a></li>
<li class="last"><a href=""><span>SAME Operations</span></a></li>
</ul>
</div>

<div class="section"></div>

<div id="footer-logo">
<a href="{% root_url %}"><img src="../images/footer-logo.png" alt="" id="logo-img" /></a>
</div>
<div id="footer-subtitle"><span class="top" >Society of American Military Engineers</span><br/><span class="bottom">607 Prince Street • Alexandria, VA 22314<br/>ph: 703-549-3800 • tx: 703-684-0231</span></div>

<div class="section"></div>

</div>
</div>
</div>