<div class="about-directory-block">
  <div class="top">About the SAME Directory</div>
  <div class="bottom"><a href="{% page_url Advertise with SAME %}">Advertise with SAME</a></div>
  <div class="social-media">
    {% yield_content Directory Social Media %}
  </div>	
</div>

<div class="featured-company-ad-block">
  <div class="featured-company-title"><span>FEATURED</span> COMPANIES</div>
  <div class="featured-company-ads">
    {% yield_partial corp_featured %}
  </div>
</div>
<div class="section"></div>