<!-- todo: programmatically calculate this -->
<div class="section featured">

  <div class="standard-with-logo-tier tier odd">
    <div class="right">
      <h2><a href="/directory_companies/601">4Granite Inc.</a></h2>
      <a href="www.4graniteinc.com">www.4graniteinc.com</a><br>
      <div class="standard-with-logo-tier-address">P.O. Box 1564<br>Apple Valley, CA 92307</div>
    </div>
    <span><img alt="4granite-logo" src="../assets/accura-tier-logo.jpg"></span>
    <div class="section"></div>
  </div>
  
  <div class="standard-with-logo-tier tier">
    <div class="right">
      <h2><a href="/directory_companies/613">Advanced Engineering Consultants</a></h2>
      <a href="www.aecmep.com">www.aecmep.com</a><br>
      <div class="standard-with-logo-tier-address">1310 Dublin Road<br>Columbus, OH 43215</div>
    </div>
    <span><img alt="advanced-logo" src="../assets/ace-tier-logo.jpg"></span><div class="section"></div>
    <div class="section"></div>
  </div>

  <div class="standard-with-logo-tier tier odd">
    <div class="right">
      <h2><a href="/directory_companies/600">4Clicks Solutions</a></h2>
      <a href="www.4Clicks.com">www.4Clicks.com</a><br>
      <div class="standard-with-logo-tier-address">P.O. Box 76884<br>Colorado Springs, CO 80970</div>
    </div>
    <span><img alt="4Clicks-logo" src="../assets/accura-tier-logo.jpg"></span>
    <div class="section"></div>
  </div>
  
  <div class="standard-with-logo-tier tier">
    <div class="right">
      <h2><a href="/directory_companies/604">A.D. Marble &amp; Company</a></h2>
      <a href="www.admarble.com">www.admarble.com</a><br>
      <div class="standard-with-logo-tier-address">375 E. Elm Street<br>Conshohocken, PA 19428</div>
    </div>
    <span><img alt="admarble-logo" src="../assets/ace-tier-logo.jpg"></span><div class="section"></div>
    <div class="section"></div>
  </div>