<!-- Get Copyright Text -->
<div class="copyright-wrapper gdl-divider">

   <div class="navigation-wrapper footer">
      <!-- Get Navigation -->
      <div id="main-superfish-wrapper" class="menu-wrapper">
        <ul id="menu-main-menu" class="sf-menu">
          <li>{% root_link Home %}</li><li>|</li>
          <li>{% page_link Classes %}</li><li>|</li>
          <li>{% page_link Camps %}</li><li>|</li>
          <li>{% page_link Parties %}</li><li>|</li>
          <li>{% page_link Workshops %}</li><li>|</li>
          <li>{% page_link Science Academy %}</li><li>|</li>
          <li>{% page_link Contact %}</li><li>|</li>
        </ul>
      </div>
   </div>

   <div class="clear"></div>

   <div class="copyright-left">© 2013 Professor Egghead Science Academy  |  {% page_link Terms of Service %}  |  {% page_link Privacy Policy %}<!--<br/><a href="">LOGIN PORTAL</a>--></div>
      <div class="social-wrapper">
        <div class="social-icon-wrapper">
          <span>Connect With Us:</span><br/>
          <div class="social-icon">
            <a href="http://www.facebook.com/professoregghead"><img alt="facebook" src="../images/facebook-shape.png"></a>
          </div>
          <div class="social-icon">
            <a href="http://twitter.com/@profegghead"><img alt="twitter" src="../images/twitter-shape.png"></a>
          </div>
          <!--<div class="social-icon">
            <a href="http://twitter.com/@profegghead"><img alt="youtube" src="../images/youtube-shape.png"></a>
          </div>-->
        </div>
      </div>
  
    <div class="clear"></div>
  
</div>
