<div class="row">
    <div class="small-3 columns">
        <h3>Newsletter</h3>
        <div class="row">
            <form>
                <div class="small-5 columns">
                    <label>First name</label>
                    <label>Email</label>
                </div>
                <div class="small-7 columns">
                    <input>
                    <input>
                </div>
                <input type="submit" class='button'>
            </form>
        </div>
    </div>
    <div class="small-3 columns">
        <h3>Become a Partner</h3>
        <div class="row">
            <div class="small-6 columns">
                <ul>
                    <li>Entertainment</li>
                    <li><a href="#">Pet News/Stories</a></li>
                    <li><a href="#">Search</a></li>
                </ul>
            </div>
            <div class="small-6 columns">
                <ul>
                    <li>Education</li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Grooming</a></li>
                    <li><a href="#">Health</a></li>
                    <li><a href="#">Saftey</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="small-3 columns">
        <h3>Vet Academy</h3>
        <div class="row">
            <div class="small-6 columns">
                <ul>
                    <li>Parenting</li>
                    <li><a href="#">Pet Care</a></li>
                    <li><a href="#">Pet Lifestyle</a></li>
                    <li><a href="#">Volunteer</a></li>
                    <li><a href="#">Connect</a></li>
                </ul>
            </div>
            <div class="small-6 columns">
                <ul>
                    <li>Store</li>
                    <li><a href="#">By Pet Type</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Checkout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="small-3 columns">
        <h3>Affiliate Program</h3>
        <div class="row">
            <div class="small-6 columns">
                <ul>
                    <li>About Us</li>
                    <li><a href="#">Mission/History</a></li>
                    <li><a href="#">Products/Services</a></li>
                    <li><a href="#">Management</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">AWF</a></li>
                </ul>
            </div>
            <div class="small-6 columns">
                <ul>
                    <li>Home</li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Local</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-6 columns">
        &copy; Copyright 2013 Pets Central Media, All Rights Reserved
    </div>
    <div class="small-6 columns">
        <ul class='inline-list'>
            <li><a href="#">Site map</a></li>
            <li>|</li>
            <li><a href="#">Privacy Policy</a></li>
            <li>|</li>
            <li>Web Design by Blue Water Media</li>
        </ul>
    </div>
</div>