<div id="slideshow">
              <div id="slide-image">
                  <img src="../images/hero_image1.jpg" />
              </div>
              
              <div id="text-box">
                  <div id="text-box-inner">
                      <p>Looking across the Missouri River towards the concrete canal being installed at the new  Rainbow Dam ....  <strong><a href="/">[READ MORE]</a></strong></p>
                  </div>
              </div>
              <div class="slideshow-controls-bottom">
                  <div class="slideshow-controls-bottom-button left-btn"><a href="/prev"></a></div>
                  <div class="slideshow-controls-bottom-button right-btn"><a href="/next"></a></div>
              </div>
</div>
          
          <div id="call_out_arrow_area">
              <div id="connect">Stay Connected 
                {% yield_content Stay Connected %}
                <!-- Blog RSS Feed -->
                <!--<a href="{% blogs_url %}"><img width="24px" height="24px" src="../images/rss_32.png"></a>-->
              </div>
              <!-- TODO: replace with lead gen form -->
              <div id="newsletter">Newsletter <form action=/leads method=post><input id="email_address" class="email_field" type="text" maxlength="128" size="30" value="" name="email"> <input id="submit" class="submit" type="submit" value="Submit" name="op"></form></div>
              <div id="join_title"><span class="white large">Join</span><span class="light_blue large">The</span><br/><span class="small">Post</span></div>
          </div>
          
          <div id="notes">
          <!-- TODO: replace with programming, 3 blogs -->
          <h1><span class="first">Post</span><span class="second">Notes</span></h1>
              <div id="first_story">
                  <!--<div class="story_image"><img src="../images/example_story_image.jpg" /></div>-->
                  <div class="story_content">
                      <div class="story_title"><span class="uppercase">Red Horse</span> Captain speaks to Veterans of Foreign Wars</div>
                      <div class="story_date"><strong>February</strong> 24, 2013</div>
                      <div class="first_story_content">Capt Nick Saccone, with the 819th RED HORSE, was allowed the opportunity to speak at the Veterans of Foreign Wars (VFW) on the 1st of May about his deployment experiences. His presentation</div>
                  </div>
              </div>
              
              <div id="story">
                  <div class="story_date2">
                      <strong>February</strong> 21, 2013
                  </div>
                  <div class="story_intro">2011 USAF Academy SAME Engineering and Construction Camp. The Big Sky Post is sponsoring Mr. Eric Mitchell ... <span class="story_read_more"><a href="/">[READ MORE]</a></span></div>
              </div>
              
              <div id="story" class="last">
                  <div class="story_date2">
                      <strong>February</strong> 05, 2013
                  </div>
                  <div class="story_intro">The USAFA camp is geared toward high school students interested in joining a service ... <span class="story_read_more"><a href="/">[READ MORE]</a></span></div>
              
              </div>
          </div>