<div id="slideshow" class="pics" style="margin:auto">
    <div id="slide-image">
        <img src="../images/hero_image1.jpg"/> 
        <img src="../images/hero_image2.jpg" /> 
        <img src="../images/hero_image3.jpg" /> 
    </div>
    
    <div id="text-box">
        <div id="text-box-inner">
            <p>Looking across the Missouri River towards the concrete canal being installed at the new  Rainbow Dam ....  <strong><a href="/">[READ MORE]</a></strong></p>
            <p>Slide two - Lorem Ipsum ....  <strong><a href="/">[READ MORE]</a></strong></p>
            <p>Slide three - Lorem Ipsum ....  <strong><a href="/">[READ MORE]</a></strong></p>
        </div>
    </div>
    <div class="slideshow-controls-bottom">
        <div class="slideshow-controls-bottom-button left-btn"><a href="#"></a></div>
        <div class="slideshow-controls-bottom-button right-btn"><a href="#"></a></div>
    </div>
</div>
          
<div id="call_out_arrow_area">
    <div id="connect">Stay Connected 
      {% yield_content Stay Connected %}
      <!-- Blog RSS Feed -->
      <!--<a href="{% blogs_url %}"><img width="24px" height="24px" src="../images/rss_32.png"></a>-->
    </div>
    <div id="newsletter">{% yield_partial newsletter_form %}</div>
    <div id="join_title"><span class="white large">Join</span><span class="light_blue large">The</span><br/><span class="medium">{{location.name}}</span><br/><span class="small">Post</span></div>
</div>
          
<div id="notes">
  {% yield_partial fran_index_blog %}
</div>
