  <div id="header">
    <div class="wrap">
      <div class="text-reset">
        <div id="logo">
        <a href="{% root_url %}"><img src="../images/logo.png" alt="" id="logo" /></a>
        </div>
        <div id="subtitle"><span class="top" >{{location.name}}</span><br/>Post</div>
    <div id="top-nav">
      <ul>
        <li class="first"><a href="{% root_url %}"><span>Home</span></a></li>
        <li class="last"><a href="{% page_url Contact Us %}"><span>Contact Us</span></a></li>
      </ul>		
    </div>  
     
  <div class="clear"></div>
  
    </div>
    </div>
  </div>