  <div id="footer">
       <div class="wrap">
         <div class="text-reset">
        <ul>
          <li class="first"><a href="{% root_url %}"><span>Home</span></a></li>
          <li><a href="{% page_url About The Post %}"><span>About</span></a></li>
          <li><a href="{% page_url Membership %}"><span>Membership</span></a></li>
          <li><a href="{% blogs_url %}"><span>News</span></a></li>
          <li><a href="{% events_url %}"><span>Meetings &amp; Events</span></a></li>
          <li><a href="{% pages_url %}"><span>Site Map</span></a></li>
          <li class="last"><a href="{% page_url Contact Us %}"><span>Contact Us</span></a></li>
        </ul>		
        
        <div class="copyright">
          <p>&copy; Copyright 2013, All Rights Reserved | <a href="http://www.bluewatermedia.com" target="_blank" class="bwm">Web Design</a> by <a href="http://www.bluewatermedia.com" target="_blank" class="bwm">Blue Water Media</a></p>		
        </div>

      <div class="clear"></div>    
  </div>
  
</div>
</div>