<!--*****************TODO: Programmatically generate meetings and events *********-->

<div id="meetings_block">
    <h2><span class="first">Meetings + </span><span class="second">Events</span></h2>
      <div class="meeting_field_item">
          <div class="dates">
              <div class="date_1">Feb</div>
              <div class="date_2">21</div>
          </div>    
          <div class="meeting_content"><p><span class="title"><a href="/">RED HORSE open house.</a></span> Get to know our programs and join our meeting and see what we’re all about.</p></div>
      </div>
      
      <div class="meeting_field_item">
          <div class="dates">
              <div class="date_1">Feb</div>
              <div class="date_2">28</div>
          </div>    
          <div class="meeting_content"><p><span class="title"><a href="/">Meeting at the Meadow Lark County Club to tour the encapsulated soil lifts.</a></span> We exist to share and learn from each other.</p></div>
      </div>
      
      <div class="meeting_field_item">
          <div class="dates">
              <div class="date_1">Mar</div>
              <div class="date_2">01</div>
          </div>    
          <div class="meeting_content"><p><span class="title"><a href="/">Tour of the solar panels at the Cascade County Court Annex.</a></span> Give back to the community.</p></div>
      </div>
      
      <div class="meeting_field_item">
          <div class="dates">
              <div class="date_1">Mar</div>
              <div class="date_2">14</div>
          </div>    
          <div class="meeting_content"><p><span class="title"><a href="/">Tour of the Great Falls wastewater Treatment Plant.</a></span> Our post is open to military and civilian engineers, craftsmen,
designers, scientists, material suppliers.</p></div>
      </div>

</div>       