<div id="block_container_home">
      <div id="top_home_block">
        <h2 class="skip"><span class="white">Our</span><span class="light_blue">Mission</span></h2>
          <p>Big Sky Post consist of military and civilian engineers from Malmstrom AFB and civilian engineers from the City of Great Falls, MT. Members of the post meet to ....  <a href="/">[READ MORE]</a></p>
      </div>
      <div id="second_home_block">
        <h2 class='skip'><span class="white">2011 Post</span><span class="light_blue">President</span></h2>
          <div class="staff"><img src="../images/staff_image.jpg" /></div>
          <p>CAPT Bill Grip, PE,<br/>CEC, USN<br/>Big Sky Post President</p>
          <p><img class="pres" src="../images/pres_arrow.png"><a class="message" href="{% page_url Mission, Vision, Values %}">President's Message</a></p>
      </div>
</div>   
{% yield_partial fran_right_meeting_events %}
{% yield_partial fran_right_same_logo %}