<div class="right_side_box">
  <div id="connect">Stay Connected 
{% yield_content Stay Connected %}
  </div>
</div>

<!--********** TODO Make Form Work******************--> 
 <div class="right_side_box">
    <div id="newsletter_int">Newsletter <form action=/leads method=post><input id="email_address" class="email_field" type="text" maxlength="128" size="30" value="" name="email"> <input id="submit" class="submit" type="submit" value="Submit" name="op"></form></div>
</div>

<div id="join_box">
    <div id="join_title"><div class="left"><span class="white large">Join</span><span class="light_blue large">The</span></div><div class="right"><span class="medium">{{location.name}}</span><br/><span class="small">Post</span></div></div>
</div>


{% yield_partial fran_right_meeting_events %}

{% yield_partial fran_right_same_logo %}