<div id="block_container_home">
      <div id="top_home_block">
        <h2 class="skip"><span class="white">Our</span><span class="light_blue">Mission</span></h2>
          <!-- todo: truncate this -->
          <p>{% yield_content About the Post %}<a href="{% page_url About The Post %}">[READ MORE]</a></p>
      </div>
      <div id="second_home_block">
        <h2 class='skip'><span class="white">Post</span><span class="light_blue">President</span></h2>
        {% yield_content Post President %}
      </div>
</div>   
{% yield_partial fran_right_meeting_events %}
{% yield_partial fran_right_same_logo %}