<!-- TODO: replace with programming, 3 blogs -->
<h1>Post Notes</h1>
<!--<div class="first_story story">-->
    <!--<div class="story_image"><img src="../images/example_story_image.jpg" /></div>-->
    <!--<div class="story_content">
        <div class="story_title"><a href="/">Red Horse Captain speaks to Veterans of Foreign Wars</a></div>
        <div class="story_date"><strong>February</strong> 24, 2013</div>
        <div class="first_story_content">Capt Nick Saccone, with the 819th RED HORSE, was allowed the opportunity to speak at the Veterans of Foreign Wars (VFW) on the 1st of May about his deployment experiences.</div>
    </div>
</div>-->

<div class="story">
    <div class="story_date2">
        <strong>February</strong> 24, 2013
    </div>
    <div class="story_intro">Capt Nick Saccone, with the 819th RED HORSE, was allowed the opportunity to speak at the Veterans of Foreign Wars (VFW) on the 1st of May about his deployment experiences... <span class="story_read_more"><a href="/">[READ MORE]</a></span></div>
</div>

<div class="story">
    <div class="story_date2">
        <strong>February</strong> 21, 2013
    </div>
    <div class="story_intro">2011 USAF Academy SAME Engineering and Construction Camp. The Big Sky Post is sponsoring Mr. Eric Mitchell ... <span class="story_read_more"><a href="/">[READ MORE]</a></span></div>
</div>

<div class="story" class="last">
    <div class="story_date2">
        <strong>February</strong> 05, 2013
    </div>
    <div class="story_intro">The USAFA camp is geared toward high school students interested in joining a service ... <span class="story_read_more"><a href="/">[READ MORE]</a></span></div>
</div>
