<meta charset='utf-8' />
<meta name='viewport' content="width=device-width, initial-scale=1.0" />
<title>Pets Central Media</title>

{% seo_tags %}

<link href="../images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="../stylesheets/foundation.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/calendar.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/map.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/theme.css">

<script src="../javascripts/vendor/modernizr.js"></script>

<!-- google analytics code? -->