<link href="../images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="../stylesheets/calendar.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/map.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/theme.css">

<script src="../javascripts/jquery.js" type="text/javascript"></script>
<script src="../javascripts/fullcalendar.js" type="text/javascript"></script>
<script src="../javascripts/application.js" type="text/javascript"></script>

<!-- google analytics code? -->