<div class="row">
    <div class="small-1 columns">
        <img src="http://placehold.it/170&text=logo">
    </div>
    <div class="small-4 columns">
        <h1>The Web's Top Resource for Pets!</h1>
    </div>
    <div class="small-2 columns"></div>
    <div class="small-4 columns">
        <ul class="inline-list">
            <li><a href="#">Home</a></li>
            <li>|</li>
            <li><a href="#">Contact</a></li>
            <li>|</li>
            <li><a href="#">Login</a>
            </li>
        </ul>
    </div>
</div>
{% yield_partial nav %}