<meta name="author" content="Waterfall Software, Inc., waterfallfms.com" />

<title>Professor Egghead Science Academy</title>

<link href="../images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="../stylesheets/calendar.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/map.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/style-custom.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/skeleton.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/layout.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/superfish.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/prettyPhoto.css">

<!--[if IE]>
<link rel="stylesheet" type="text/css" href="../stylesheets/ie-style.css">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="../stylesheets/ie7-style.css">
<![endif]-->

<script src="../javascripts/jquery.js" type="text/javascript"></script>
<script src="../javascripts/fullcalendar.js" type="text/javascript"></script>
<script src="../javascripts/application.js" type="text/javascript"></script>
<script src="../javascripts/superfish.js" type="text/javascript"></script>
<script src="../javascripts/supersub.js" type="text/javascript"></script>
<script src="../javascripts/hoverIntent.js" type="text/javascript"></script>
<script src="../javascripts/gdl-scripts.js" type="text/javascript"></script>
<script src="../javascripts/jquery.easing.js" type="text/javascript"></script>
<script src="../javascripts/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="../javascripts/jquery.cycle.js" type="text/javascript"></script>
<script src="../javascripts/gdl-contractform.js" type="text/javascript"></script>

{% seo_tags %}
{% analytics_tag %}
{% yield_head %}

<!-- google analytics code? -->