<div class="row">
    <div class='small-12 columns text-center'>
        <img src="http://placehold.it/890x240&text=Hero">
    </div>
</div>
<div class="row">
    <div class="small-4 columns">
        <img src="http://placehold.it/332x396">
    </div>
    <div class="small-4 columns">
        <img src="http://placehold.it/332x396">
    </div>
    <div class="small-4 columns">
        <img src="http://placehold.it/332x396">
    </div>
</div>
<div class="row">
    <div class='small-12 columns text-center'>
        <img src="http://placehold.it/890x210&text=Ad">
    </div>
</div>
<div class="row">
    <div class="small-4 columns">
        <img src="http://placehold.it/332x396">
    </div>
    <div class="small-4 columns">
        <img src="http://placehold.it/332x396">
    </div>
    <div class="small-4 columns">
        <img src="http://placehold.it/332x396">
    </div>
</div>
<div class="row">
    <div class="small-4 columns">
        <img src="http://placehold.it/332x396">
    </div>
    <div class="small-4 columns">
        <img src="http://placehold.it/332x396">
    </div>
    <div class="small-4 columns">
        <img src="http://placehold.it/332x396">
    </div>
</div>
