<div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
          <section class="top-bar-section">
              <ul class="left">
                  <li><a href="#">Entertainment</a></li>
                  <li><a href="#">Education</a></li>
                  <li><a href="#">Parenting</a></li>
                  <li class="has-dropdown">
                      <a href="#">Store</a>
                      <ul class="dropdown">
                          <li><a href="#">By Pet Type</a></li>
                          <li><a href="#">Products</a></li>
                          <li><a href="#">Register</a></li>
                          <li><a href="#">Check out</a></li>
                      </ul>
                  </li>
                  <li><a href="#">Local</a></li>
                  <li><a href="#">My Pet Central</a></li>
              </ul>
          </section>
      </nav>
</div>