Newsletter <form action="/leads" method="post">
  <input type=hidden name=redirect_to value="{% page_url Thank You %}">
  <input type=hidden name=lead[source] value="newsletter">
  <input type=hidden name=lead[first_name] value="Unknown" />
  <input type=hidden name=lead[last_name] value="User" />
  <input type=hidden name=lead[work_phone] value="555-555-5555" />
  <input id="email_address" class="email_field" type="text" maxlength="128" size="30" value="" name="lead[email]">
  <input id="submit" class="submit" type="submit" value="Submit" name="op">
</form>