<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    {% yield_partial head %}
  </head>
  <body>
    {% yield_partial fran_header %}
    {% yield_partial fran_menu %}
    
 <div id="main">
    <div class="wrap">
      <div class="text-reset">
          <div id="main-inner">
           

      <!--**********************Left Content Section***********************-->
             <div id="content">
                {% yield_flash %}
                {% yield_page %}
             </div>
             
             <div id="right">  
                {% yield_partial fran_right %}
             </div>

             <div class="clear"></div>
          
          </div>
      </div>
    </div>
  </div>
       
       
       
    {% yield_partial fran_footer %}

    {% yield_scripts %}
  </body>
</html>