<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  {% capture company %}{% yield_content Insurance Company %}{% endcapture %}
  
  <!-- SEO Meta -->
  <title>Flood Insurance | FloodSmart</title>
  {% seo_tags %}

  <!-- Extra Meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="author" content="Blue Water Media, Inc., (202)861-0000, www.bluewatermedia.com" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

  <!-- Icons: Favicon, iPhone, Windows 8 -->
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="../images/admin-icon.png" />
  <meta name="application-name" content="Flood Insurance" />
  <meta name="msapplication-TileColor" content="#4c8fcd" />
  <meta name="msapplication-TileImage" content="favicon-tile.png" />
  
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300,700,800' rel='stylesheet' type='text/css'>

  <!-- Scripts -->
  <!--[if lt IE 9]>
    <script src="dist/html5shiv.js"></script>
  <![endif]-->
  {% default_js %}
  <script type="text/javascript" src="../javascripts/superfish.js"></script>  
  <script type="text/javascript" src="../javascripts/jquery.cycle.lite.js"></script>
  <script type="text/javascript" src="../javascripts/scripts.js"></script>

  <!-- Specific Stylesheets -->
  <link rel="stylesheet" href="../stylesheets/style.css" type="text/css" />  
  <link rel="stylesheet" href="../stylesheets/layout.css" type="text/css" />
  <link rel="stylesheet" href="../stylesheets/{{company | downcase}}.css" type="text/css" /> <!--agent testings -->
  
  <script type="text/javascript">
  $(document).ready(function(){
  
     $('#tabs .tab-container').hide();
     $('#tabs .tab-container:first').show();
     $('#tabs ul li:first').addClass('active');
   
     $('#tabs ul li a').click(function(){
       $('#tabs ul li').removeClass('active');
       $(this).parent().addClass('active');
       var currentTab = $(this).attr('href');
       $('#tabs .tab-container').hide();
       $(currentTab).show();
       return false;
     });
     
     //Cycle Lite Script - Tools & Widgets
     
     $('#slideshow2').cycle({ 
    prev:   '#prev', 
    next:   '#next', 
    timeout: 0 
    });
    
     //Cycle Lite Script - Video Library
     
     $('#slideshow3').cycle({ 
    prev:   '#prev2', 
    next:   '#next2', 
    timeout: 0 
    });
     
     // Button Slidey Woo Woo!
     
     $('.request-quote-block-head').click(function(){
      $('.risk-profile-block-form').slideToggle();
      $('.request-quote-block-form').slideToggle();
     });
          
     $('.risk-profile-block-head').click(function(){
      $('.risk-profile-block-form').slideToggle();
      $('.request-quote-block-form').slideToggle();
     });
     
   });
</script>  
  
  <!--  Analytics -->
  {% analytics_tag %}
  
</head>
<body class="front">

<div id="page">

  <div id="header" class="clearfix">
    <div class="wrap">
    <div class="text-reset">
    
      <div id="logo">
        <a href="index.html"></a>
      </div>
      
      <div id="top-right" class="clearfix">    
      
        <div id="mobile-nav-button"></div>
      
        <div id="top-nav" class="block menu clearfix">
          <ul>
            <li class="first"><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li class="last"><a href="http://www.floodsmart.gov/floodsmart/">FloodSmart.gov</a></li>
          </ul>
        </div>       

        <div id="navigation" class="block menu clearfix">
          <ul>
            <li class="sf-depth-1"><a class="sf-depth-1" href="#"><span>About Flood Insurance</span></a></li>
            <li class="sf-depth-1"><a class="sf-depth-1" href="#"><span>Request a Quote</span></a></li>
          </ul>
        </div>
    
      </div> 
      
    </div>      
    </div>      
  </div>      

  <div id="top-shadow"></div>
  
  <div id="main-content">
    <div class="wrap">
    <div class="text-reset">
      <div id="upper-block" class=" clearfix">
         <div id="profile">
           <div id="profile-top">
               <div id="profile-pic"><div class="frame"><!--<img src="../images/profile-photo.jpg" />--></div></div>
               <div id="profile-name">{% yield_content Agent Name %}<!--Tim Sturgis--></div>
               <div id="profile-license">{% yield_content Agent License %} <!--Licensed in Flood, Auto, Home, and Life in DC, MD, VA & DE --></div>
          </div>
          <div class="clearfix"></div>
          <div id="profile-bottom" class="clearfix">
             <div id="tabs">
                 <ul>
                   <li class="contact"><a href="#tab-1">Contact Info</a><span class="tab-end"></span></li>
                   <li class="hours"><a href="#tab-2">Office Hours</a><span class="tab-end"></span></li>
                   <li class="location"><a href="#tab-3">Location</a><span class="tab-end"></span></li>
                 </ul>
                 <div id="tab-1" class="tab-container">
                    <div class="tab-left">
                       <div class="tab-info"><div class="tab-info-header">Direct:&nbsp;</div> {{location.phone}} <!-- 202.728.1199 x5302 --></div>
                       <div class="tab-info"><div class="tab-info-header">Toll-Free:&nbsp;</div> {% yield_content Toll Free %} <!--888.442.0329 --></div>
                       <div class="tab-info"><div class="tab-info-header">Cell:&nbsp;</div> {% yield_content Cell Phone %} <!--404.290.1976--></div>
                       <div class="tab-info"><div class="tab-info-header">Fax:&nbsp;</div> {{location.fax}} <!--202.728.2922 --></div>
                       <div class="tab-info"><a href="mailto:{{location.support_email}}"> {{location.support_email}} <!--t-sturgis@libertymutual.com --></a></div>
                    </div>
                    <div class="tab-right">
                       <div class="blue-button"><a href="tel:{% yield_content Toll Free %}">{% yield_content Toll Free %}</a></div>
                       <div class="social-media">
                          <div class="facebook"><a href="{% yield_content Facebook Page %}"></a></div>
                          <div class="linked-in"><a href="{% yield_content Linked In Profile %}"></a></div>
                          <div class="twitter"><a href="{% yield_content Twitter Page %}"></a></div>
                          <div class="google"><a href="{% yield_content Google Page %}"></a></div>
                          <div class="mail"><a href="mailto:{{location.support_email}}"></a></div>
                       </div>
                    </div>
                 </div>
                 
                 <div id="tab-2" class="tab-container">
                    <div class="tab-left">
                       <div class="tab-info"><div class="tab-info-header">Mon:&nbsp;</div> {% yield_content Monday Hours %} <!--8:00am to 5:00pm --></div>
                       <div class="tab-info"><div class="tab-info-header">Tues:&nbsp;</div> {% yield_content Tuesday Hours %} <!--8:00am to 5:00pm --></div>
                       <div class="tab-info"><div class="tab-info-header">Wed:&nbsp;</div> {% yield_content Wednesday Hours %} <!--10:00am to 7:00pm --></div>
                       <div class="tab-info"><div class="tab-info-header">Thurs:&nbsp;</div> {% yield_content Thursday Hours %} <!--8:00am to 5:00pm --></div>
                    </div>
                    <div class="tab-right">
                       <div class="tab-info"><div class="tab-info-header">Fri:&nbsp;</div> {% yield_content Friday Hours %} <!--8:00am to 5:00pm--></div>
                       <div class="tab-info"><div class="tab-info-header">Sat:&nbsp;</div> {% yield_content Saturday Hours %} <!--9:00am to 1:00pm--></div>
                       <div class="tab-info"><div class="tab-info-header">Sun:&nbsp;</div> {% yield_content Sunday Hours %} <!--Closed--></div>
                    </div>
                 </div>

                 <div id="tab-3" class="tab-container">
                   <div class="tab-left">
                         <div class="tab-info-header"> {{location.name}} <!--Liberty Mutual Insurance of Arlington --> </div>
                         <div class="tab-info"> {{location.address}} <!--1584 Wilson Boulevard--> </div>
                         <div class="tab-info"> {{location.address2}} <!--Suite 1200--> </div>
                         <div class="tab-info"> {{location.city}},&nbsp;{{location.state.name}}&nbsp;{{location.zip}} <!--Arlington, VA 22205--> </div>
                    </div>
                    <div class="tab-right">
                       <a href="">View Google Map</a><br>
                       <a href="">Need Driving Directions?</a><br>
                   </div>
                 </div>
                 
             </div>
          </div>
        </div>
        <div id="form-buttons">
          <div class="request-quote-block">
            <div class="request-quote-block-head"><div class="padding"><span>Request a Quote</span><br>Ready to purchase Flood Insurance?</div></div>
            <div class="request-quote-block-form clearfix">
              <form action="request-quote.html" method="get">
                  <input id="request_block_firstname" class="inputbox" type="text" onfocus="if(this.value=='First Name') this.value='';" onblur="if(this.value=='') this.value='First Name';" value="First Name" size="20" maxlength="20" name="firstname">
                  <input id="request_block_lastname" class="inputbox" type="text" onfocus="if(this.value=='Last Name') this.value='';" onblur="if(this.value=='') this.value='Last Name';" value="Last Name" size="20" maxlength="20" name="lastname"><br>
                  <input id="request_block_address1" class="inputbox" type="text" onfocus="if(this.value=='Address 1') this.value='';" onblur="if(this.value=='') this.value='Address 1';" value="Address 1" size="20" maxlength="20" name="address 1">
                  <input id="request_block_address2" class="inputbox" type="text" onfocus="if(this.value=='Address 2') this.value='';" onblur="if(this.value=='') this.value='Address 2';" value="Address 2" size="20" maxlength="20" name="address 2"><br>
                  <input id="request_block_city" class="inputbox" type="text" onfocus="if(this.value=='City') this.value='';" onblur="if(this.value=='') this.value='City';" value="City" size="20" maxlength="20" name="city">
                  <select name="state" size="1" value="State">
                          <option value="">State</option>
                          <option value="AK">AK</option>
                          <option value="AL">AL</option>
                          <option value="AR">AR</option>
                          <option value="AZ">AZ</option>
                          <option value="CA">CA</option>
                          <option value="CO">CO</option>
                          <option value="CT">CT</option>
                          <option value="DC">DC</option>
                          <option value="DE">DE</option>
                          <option value="FL">FL</option>
                          <option value="GA">GA</option>
                          <option value="HI">HI</option>
                          <option value="IA">IA</option>
                          <option value="ID">ID</option>
                          <option value="IL">IL</option>
                          <option value="IN">IN</option>
                          <option value="KS">KS</option>
                          <option value="KY">KY</option>
                          <option value="LA">LA</option>
                          <option value="MA">MA</option>
                          <option value="MD">MD</option>
                          <option value="ME">ME</option>
                          <option value="MI">MI</option>
                          <option value="MN">MN</option>
                          <option value="MO">MO</option>
                          <option value="MS">MS</option>
                          <option value="MT">MT</option>
                          <option value="NC">NC</option>
                          <option value="ND">ND</option>
                          <option value="NE">NE</option>
                          <option value="NH">NH</option>
                          <option value="NJ">NJ</option>
                          <option value="NM">NM</option>
                          <option value="NV">NV</option>
                          <option value="NY">NY</option>
                          <option value="OH">OH</option>
                          <option value="OK">OK</option>
                          <option value="OR">OR</option>
                          <option value="PA">PA</option>
                          <option value="RI">RI</option>
                          <option value="SC">SC</option>
                          <option value="SD">SD</option>
                          <option value="TN">TN</option>
                          <option value="TX">TX</option>
                          <option value="UT">UT</option>
                          <option value="VA">VA</option>
                          <option value="VT">VT</option>
                          <option value="WA">WA</option>
                          <option value="WI">WI</option>
                          <option value="WV">WV</option>
                          <option value="WY">WY</option>
                  </select>
                  <input id="request_block_zip" class="inputbox" type="text" onfocus="if(this.value=='Zip') this.value='';" onblur="if(this.value=='') this.value='Zip';" value="Zip" size="20" maxlength="20" name="zip"><br>
                  <input id="request_block_phone" class="inputbox" type="text" onfocus="if(this.value=='Phone') this.value='';" onblur="if(this.value=='') this.value='Phone';" value="Phone" size="20" maxlength="20" name="phone">
                  <input id="request_block_email" class="inputbox" type="text" onfocus="if(this.value=='Email') this.value='';" onblur="if(this.value=='') this.value='Email';" value="Email" size="20" maxlength="20" name="email"><br>
                  <input id="request_block_submit" type="submit" value="Submit">
                  </form> 
            </div>
          </div>
          <div class="risk-profile-block">
            <div class="risk-profile-block-head not-active"><div class="padding"><span>One-Step Flood Risk Profile</span><br>Rate your risk, Estimate your premiums</div></div>
            <div class="risk-profile-block-form clearfix" style="display: none;">
            <form action="risk-profile.html" method="get">
                  <input id="risk_block_address" class="inputbox" type="text" onfocus="if(this.value=='Address') this.value='';" onblur="if(this.value=='') this.value='Address';" value="Address" size="20" maxlength="20" name="address"><br>
                  <input id="risk_block_city" class="inputbox" type="text" onfocus="if(this.value=='City') this.value='';" onblur="if(this.value=='') this.value='City';" value="City" size="20" maxlength="20" name="city"><br>
                  <select name="state" size="1" value="State"><br>
                          <option value="">State</option>
                          <option value="AK">AK</option>
                          <option value="AL">AL</option>
                          <option value="AR">AR</option>
                          <option value="AZ">AZ</option>
                          <option value="CA">CA</option>
                          <option value="CO">CO</option>
                          <option value="CT">CT</option>
                          <option value="DC">DC</option>
                          <option value="DE">DE</option>
                          <option value="FL">FL</option>
                          <option value="GA">GA</option>
                          <option value="HI">HI</option>
                          <option value="IA">IA</option>
                          <option value="ID">ID</option>
                          <option value="IL">IL</option>
                          <option value="IN">IN</option>
                          <option value="KS">KS</option>
                          <option value="KY">KY</option>
                          <option value="LA">LA</option>
                          <option value="MA">MA</option>
                          <option value="MD">MD</option>
                          <option value="ME">ME</option>
                          <option value="MI">MI</option>
                          <option value="MN">MN</option>
                          <option value="MO">MO</option>
                          <option value="MS">MS</option>
                          <option value="MT">MT</option>
                          <option value="NC">NC</option>
                          <option value="ND">ND</option>
                          <option value="NE">NE</option>
                          <option value="NH">NH</option>
                          <option value="NJ">NJ</option>
                          <option value="NM">NM</option>
                          <option value="NV">NV</option>
                          <option value="NY">NY</option>
                          <option value="OH">OH</option>
                          <option value="OK">OK</option>
                          <option value="OR">OR</option>
                          <option value="PA">PA</option>
                          <option value="RI">RI</option>
                          <option value="SC">SC</option>
                          <option value="SD">SD</option>
                          <option value="TN">TN</option>
                          <option value="TX">TX</option>
                          <option value="UT">UT</option>
                          <option value="VA">VA</option>
                          <option value="VT">VT</option>
                          <option value="WA">WA</option>
                          <option value="WI">WI</option>
                          <option value="WV">WV</option>
                          <option value="WY">WY</option>
                  </select>
                  <input id="risk_block_zip" class="inputbox" type="text" onfocus="if(this.value=='Zip') this.value='';" onblur="if(this.value=='') this.value='Zip';" value="Zip" size="20" maxlength="20" name="zip"><br>
                  Residential? <input id="risk_block_radio_yes" type="radio" name="residential" value="yes">Yes <input id="risk_block_radio_no" type="radio" name="residential" value="no">No<br>
                  <input id="risk_block_submit" type="submit" value="Submit">
                  </form>
            </div>
          </div>
        </div>
      </div>
   
     <div id="middle-block" class="clearfix">
       <div class="middle-block-left">
          <h1>Do I Need Flood Insurance?</h1>
          <p>Just a few inches of water from a flood can cause tens of thousands of dollars in damage. From 2007 to 2011, the average residential flood claim amounted to almost $30,000. Flood insurance is the best way to protect yourself from devastating financial loss.</p>
          <p>Flood insurance is available to homeowners, renters, condo owners/renters, and commercial owners/renters. Costs vary depending on how much insurance is purchased, what it covers and the property's flood risk.</p>
       </div>
       <div class="middle-block-right">
         <img src="../images/flood-cost-icon.png"><br/>
         <p>Flood insurance costs</br> as low as <span class="bold">$129</span>, annually </br><span class="bold-blue">Are you covered?</p>
       </div>
     </div>

    <div id="lower-block" class="clearfix">
       <div id="lower-block-left">
          <div class="tool-header"><img src="../images/tools-icon.png" /><h2>Know Your Risk, Online Tools & Widgets</h2></div>
          <div class="tool-carousel">
               <div id="slideshow2" class="pics">
                   <a href="http://www.floodsmart.gov/floodsmart/pages/flooding_flood_risks/the_cost_of_flooding.jsp" target="_blank"><img src="../images/tool-image-1.jpg" width="330" height="180" /></a>
                   <a href="http://www.floodsmart.gov/floodsmart/pages/flooding_flood_risks/flood_scenarios.jsp" target="_blank"><img src="../images/tool-image-2.jpg" width="330" height="180" /></a>
               </div>
               <div class="center">
                      <a href="#" id="prev">Prev</a> 
                      <a href="#" id="next">Next</a>
               </div>
          </div>
      </div>
       
      <div id="lower-block-divider"><img src="../images/lower-divider.png" /></div>
       
      <div id="lower-block-right">
            <div class="testimonial-header"><img src="../images/testimonials-icon.png" /><h2>Testimonial Videos</h2></div>
              <div class="testimonial-carousel">
                 <div id="slideshow3" class="pics">
                   <div class="testimonial-image">
                      <a href="http://www.floodsmart.gov/floodsmart/pages/videos/video_index.jsp" target="_blank"><img src="../images/testimonial-image-1.jpg" width="330" height="180" /></a><br>
                      <div class="testimonial-title">A Look at the Destruction Caused by Hurricane Irene</div>
                      <div class="testimonial-links">2 min 44 sec  |  <a href="http://www.floodsmart.gov/floodsmart/pages/videos/video_index.jsp">View Transcript</a></div>
                   </div>
                   <div class="testimonial-image">
                      <a href="http://www.floodsmart.gov/floodsmart/pages/videos/video_index.jsp" target="_blank"><img src="../images/testimonial-image-2.jpg" width="330" height="180" /></a><br>
                      <div class="testimonial-title">Hurricane Irene's Destructive Force Along the NC Coast</div>
                      <div class="testimonial-links">2 min 53 sec  |  <a href="http://www.floodsmart.gov/floodsmart/pages/videos/video_index.jsp">View Transcript</a></div>
                   </div>
                   <div class="testimonial-image">
                      <a href="http://www.floodsmart.gov/floodsmart/pages/videos/video_index.jsp" target="_blank"><img src="../images/testimonial-image-3.jpg" width="330" height="180" /></a><br>
                      <div class="testimonial-title">Unique Risks Associated with Levees</div>
                      <div class="testimonial-links">6 min 20 sec  |  <a href="http://www.floodsmart.gov/floodsmart/pages/videos/video_index.jsp">View Transcript</a></div>
                   </div>
                   <div class="testimonial-image">
                      <a href="http://www.floodsmart.gov/floodsmart/pages/videos/video_index.jsp" target="_blank"><img src="../images/testimonial-image-4.jpg" width="330" height="180" /></a><br>
                      <div class="testimonial-title">Same Flood - With and Without Flood Insurance</div>
                      <div class="testimonial-links">3 min 04 sec  |  <a href="http://www.floodsmart.gov/floodsmart/pages/videos/video_index.jsp">View Transcript</a></div>
                   </div>
                 </div>
                 <div class="center">
                        <a href="#" id="prev2">Prev</a> 
                        <a href="#" id="next2">Next</a>
                 </div>
              </div>
      </div>
    </div>
    </div>
    </div>
  </div>
 
  <div id="bottom-shadow"></div>
 
  <div id="footer" class="clearfix">
      <div class="wrap">
        <div class="text-reset">
          <div id="footer-menu">
              <ul>
                <li class="first"><a href="#"><span>Home</span></a></li>
                <li><a href="#"><span>About Flood Insurance</span></a></li>
                <li><a href="#"><span>Request a Quote</span></a></li>
                <li class="last"><a href="#"><span>Contact</span></a></li>
              </ul>    
          </div>
          <div id="copyright-menu">
              <ul>
                <li class="first">&copy; 2013 {% yield_content Agent Name %}, {{location.name}}, All Rights Reserved</li>
                <li><a href="#"><span>Privacy Policy</span></a></li>
                <li class="last"><a href="#"><span>Terms & Conditions</span></a></li>
              </ul>
          </div>
        </div>
      </div>
  </div>
</div>
  

  
</body>
</html>