<html>
  <head>
    {% yield_partial head %}
  </head>
  <body>
    {% yield_partial fran_header %}
    {% yield_partial fran_menu %}
    
    
 <div id="main">
    <div class="wrap">
      <div class="text-reset">
          <div id="main-inner">

      <!--**********************Left Content Section***********************-->
             <div id="content">
                {% yield_flash %}
                {% yield_partial fran_index_content %}
             </div>
             
             <div id="right">  
                {% yield_partial fran_index_right %}
             </div>

             <div class="clear"></div>
          
          </div>
      </div>
    </div>
  </div>
       
       
       
    {% yield_partial fran_footer %}

    {% yield_scripts %}
  </body>
</html>